*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    top: 0;
    flex-direction: column;
    overflow: scroll;

}
#navbar::before{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 188px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    content:"";
}
#logo{
    margin: 6px 20px;
    font-size: 20px;
    color: aliceblue;
    
}
#logo img{
    height: 60px;
    margin: 3px 6px;
    border-radius: 40%;
    transition: transform 0.5s ease;
}
#logo img:hover{
    transform: rotate(360deg);
}
#navbar ul{
    display: flex;
    margin-left: 8em;
    justify-content: center;
}
#navbar ul li{
    font-style: none;
    list-style-type: none;
    font-size: 1.3rem;
}
#navbar ul li p{
    color: white;
    font-size: 1.5rem;
    display: block;
    padding: 3px 0px;
    text-decoration: none;
}
#navbar ul li p:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
#home{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    height: 400px;
    overflow:50px 20px;
    background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)),url('./bg5.jpg')no-repeat center center/cover;
    width: 100%;
    height: 630px;
}

#home h1{
    color:white;
    font-size: 3rem;
    font-weight: bold ;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#home a{
    text-decoration: none;
    color: white;
}
.container{
    margin: 34px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.container .row .col{
    padding: 34px;
    margin: 2px 29px;
    border-radius: 30px;
    background: #f2f2f2;
    margin-bottom: 20px;
    box-shadow: 4px 0px 7px grey;
    transition: transform 1s ease;
}
.container .row .col:hover{
    transform: scale(1.025);
}
.container .row .col img{
    height: 200px;
    width: 500px;
    border-radius: 50px;
    margin: auto;
    display: block;
    transition: transform 1s ease;
}
.container .row .col img:hover{
    transform: rotate3d(1,1,1,360deg);
}
#container .row p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    border: 2px solid white;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    font-size: 1.3rem;
    transition: transform 0.5s ease;
}
.btn:hover{
    color: lightgrey ;
    transform: scale(1.125);
}

.main{
    text-align: center;
}
#contact{
    background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)),url(./contact.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100%;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 38px;
    color: white;
}
#contact h1{
    color: white;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}
.con{
    text-align: center;
    font-size: 50px;
}
.dark{
    background-color: rgb(81, 80, 80);
}
.white-font{
    color: white;
}
#md{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}
@media(min-width:600px) and (max-device-width: 768px){
    .btn{
        color: lightpink;
    }
    .btn:hover{
        background-color: transparent;
    }
}
@media(min-width:769px) and (max-device-width: 1000px){
    .btn{
        color: lightgreen;
    }
    .btn:hover{
        background-color: transparent;
    }
}
@media(min-width:600px) and (max-device-width: 768px){
    #home p{
        font-size: 1.6em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-style: italic;
        text-shadow: 1px 1px white;
    }
}
@media(min-width:769px) and (max-device-width: 1000px){
    #home p{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(210, 222, 222);
    }
}
@media(min-width:600px) and (max-device-width: 768px){
    #container .row p{
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-style: italic;
        text-shadow: 1px 1px white;
    }
}
@media(min-width:769px) and (max-device-width: 1000px){
    #container .row .col p{
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
        font-weight: bold;
        text-decoration: underline;
        color: cadetblue;
    }
}
#hide{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
#hide1{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
#hide2{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}